.mb-3{
    width: 700px;
    float: right;
    
    flex: 50%;
    top: 20px;
    border:none;
}
.btn-primary{
    width: 700px;
    float: right;
    
    flex: 50%;
    top: 20px;
    border:none;
   
}
.container{
    display: flex;
    flex-direction: column;
    float: right;
    float: top;
    padding-right: 100px;
    position:absolute;
  top: 15px;
  left: 150px;
  padding-left: 50px;

  background-image: url(oo.jpg);
  background-size: 100%;
  background-position-y: 150px;
  background-position-x: 150px;
  padding-right: 300px;
  height: 730px;
  position:absolute;
  top: 75px;
  left: 250px;
  padding-left: 200px;
  
   
}
 